@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #EFF2F5;
}

.getStarted{
  background: linear-gradient(81.62deg, #2870EA 8.72%, #1B4AEF 85.01%);
  border-radius: 8px;
  color: white;
  padding: 8px 10px;
}

.card{
  @apply bg-[#ffffff] px-4 pt-6 pb-[4em] rounded-lg
}

.heading_text{
  @apply text-xl font-bold
}